# Supabase Configuration
SUPABASE_DB_URL=your_supabase_db_url_here
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# Payment Gateway Configuration
MIDTRANS_SERVER_KEY=your_midtrans_server_key_here
XENDIT_SECRET_KEY=your_xendit_secret_key_here
XENDIT_CALLBACK_TOKEN=your_xendit_webhook_verification_token_here
NEXT_PUBLIC_XENDIT_KEY=your_xendit_public_key_here

# Notification Services Configuration
RESEND_API_KEY=your_resend_api_key_here
FONNTE_API_KEY=your_fonnte_api_key_here
